body{
    background-color:#0066CC;
    font-family: helvetica, arial, sans-serif;
    }
h1{
    color:#000099;
    }
span{
    color: #ff0000;
    }
p.firstPara {
    text-indent: 30px;
}
#footer {
    color: #0066CC;
    background-color: red;
    font-size: 15px;
    text-align: center;
    }